<div class="card beneficiario-info-card">
  <div class="model-card">
    <div class="card-body">
      <h5 class='card-title'><%= beneficiario.name %></h5>
      <div class="card-text">
        <p>
          <strong>Email:</strong>
          <%= beneficiario.email %>
        </p>
        <p>
          <strong>Telefone:</strong>
          <%= beneficiario.telefone %>
        </p>
      </div>
    </div>
  </div>
</div>
