<div class="card organizacao-user-info-card">
  <div class="model-card">
    <div class="card-body">
      <h5 class='card-title'><%= user.name %></h5>
      <div class="card-text">
        <p>
          <strong>Email:</strong>
          <%= user.email %>
        </p>
        <p>
          <strong>Telefone:</strong>
          <%= user.phone %>
        </p>
      </div>
    </div>
  </div>
</div>
