
<div class="container-fluid organizacao-container padding-margin"> 
  <p id="notice"><%= notice %></p>
  <div class="row">
    <%= render 'organizacao_info_card'%>
  </div>
  <div class="row">
    <% @organizacao.users.each do |user|%>
      <div class="col-12 col-sm-4">
        <%= render 'organizacao_users_info_card', user: user %>
      </div>
    <% end%>
  </div>
    


  <%= link_to back_button, organizacoes_path %>
</div>
