 <a class="item">
    <i class="home icon"></i>
    Beneficiario option 1
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Beneficiario option 2
  </a>
  <a class="item">
    <i class="smile icon"></i>
      Beneficiario option 3
  </a>