 <a class="item">
    <i class="home icon"></i>
    Client option 1
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Client option 2
  </a>
  <a class="item">
    <i class="smile icon"></i>
      Client option 3
  </a>