 <a class="item" href="<%= organizacao_path(current_user.organizacao)%>">
    <i class="chart pie icon"></i>
    Dashboard
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Client option 2
  </a>
  <a class="item">
    <i class="smile icon"></i>
      Client option 3
  </a>