 <a class="item">
    <i class="home icon"></i>
    Internal User option 1
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Internal User option 2
  </a>
  <a class="item">
    <i class="smile icon"></i>
      Internal User option 3
  </a>