<!-- TODO -->
<% if user_logged_in? %>
  <div class=" ui vertical menu  inverted labeled icon menu ">
      <%= render "shared/menus/#{current_user_or_beneficiario.sidebar_content}" %>
  </div>
<% end %>

