<!-- TODO -->
<% if current_user %>
  <div class=" main-sidebar ui visible left demo vertical inverted sidebar labeled icon menu  main-sidebar">
      <%= render "shared/menus/#{current_user.sidebar_content}" %>
  </div>
<% end %>

