.ui.button.light-blue-login,
.light-blue-login {
    background: $san-light-blue;
}

.ui.button.water-blue-login,
.water-blue-login {
    background: $san-water-blue;
}

.btn-primary {
    background: $san-dark-blue;
}

.btn-light-blue {
    background: $san-light-blue;
}

.btn-info {
    background: $san-water-blue;
}