$nav-height: 6vh;
.navbar-sanus {
    justify-content: space-between;
    height: $nav-height;
    background: $san-blue;
}

.navbar-sanus .navbar-collapse {
    flex-grow: 0;
    .nav-link {
        color: $san-gray
    }
}

.navbar-sanus .navbar-brand img {
    width: 95px;
}

.navbar-nav {
    .nav-link {
        color: $san-gray;
    }
}