.navbar-lewagon {
    justify-content: space-between;
    background: $san-blue;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
    .nav-link {
        color: $san-gray
    }
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}